body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  padding: 18px 0px;
  margin: 0px auto;
}

.nav-logo {
  color: #333;
  font-size: 2.3rem;
  font-weight: 800;
}

.nav-menu {
  font-size: 2.4rem;
  display: none;
  cursor: pointer;
}

.nav-menu::-moz-selection {
  background: inherit;
}

.nav-menu::selection {
  background: inherit;
}

.nav-enlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  padding-left: 0px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav-enlaces-item {
  list-style: none;
}

.nav-enlaces-item a {
  color: #333;
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
}

.nav-enlaces-item a:hover {
  text-decoration: underline;
}

.nav-active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-animation: animacion;
          animation: animacion;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
}

@-webkit-keyframes animacion {
  from {
    opacity: .3;
  }
  to {
    opacity: 1;
  }
}

@keyframes animacion {
  from {
    opacity: .3;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1040px) {
  .nav-enlaces {
    width: 55%;
  }
}

@media (max-width: 890px) {
  .nav-menu {
    display: block;
  }
  .nav-enlaces {
    display: none;
    background-color: #100E1D;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    height: 240px;
  }
  .nav-enlaces a {
    color: #fff;
  }
}

.header {
  width: 60%;
  margin: 30px auto 0px auto;
}

.header-span {
  color: #2D9CDB;
  font-weight: 500;
  font-size: 1.1rem;
}

.header-title {
  color: #333;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4rem;
}

.banner {
  width: 95%;
  margin: 0px auto;
}

.banner-img {
  border-radius: 18px;
  width: 100%;
}

.contact {
  width: 60%;
  margin: 30px auto 0px auto;
}

.contact-title {
  font-weight: 500;
  font-size: 3rem;
  line-height: 4.5rem;
  color: #333;
}

.contact-text {
  width: 40%;
  text-align: justify;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: #4F4F4F;
}

.contact-email {
  position: relative;
}

.contact-email_label {
  color: #828282;
  font-weight: 500;
  font-size: .9rem;
  line-height: 21px;
}

.contact-email_input {
  margin-top: 6px;
  border: none;
  background: #F2F2F2;
  width: 350px;
  height: 57px;
  border-radius: 12px;
  padding-left: 24px;
  color: #4F4F4F;
  outline: none;
}

.contact-email_input::-webkit-input-placeholder {
  color: #BDBDBD;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 57px;
}

.contact-email_input:-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 57px;
}

.contact-email_input::-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 57px;
}

.contact-email_input::placeholder {
  color: #BDBDBD;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 57px;
}

.contact-email_span {
  display: block;
  text-align: center;
  position: absolute;
  background: #2D9CDB;
  color: #F2F2F2;
  font-size: 1.1rem;
  width: 94px;
  height: 49px;
  line-height: 49px;
  border-radius: 12px;
  bottom: 4px;
  left: 250px;
}
/*# sourceMappingURL=styles.css.map */