// ESTILOS DEL HEADER
.header {
    width: 60%;
    margin: 30px auto 0px auto;

    &-span {
        color: $light-blue;
        font-weight: 500;
        font-size: 1.1rem;
    }
    
    &-title {
        color: $gray-1;
        font-weight: 500;
        font-size: 3rem;
        line-height: 4rem;
    }
}